@use '../utility';

@mixin reset {
	display: block;
	padding: 0;
	border: none;
	background: transparent;
	outline: none;
	appearance: none;

	&::-webkit-calendar-picker-indicator {
		display: none !important;
		appearance: none !important;
	}

	&::-webkit-date-and-time-value {
		text-align: left;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:focus {
		transition:
			background-color 600000s 0s,
			color 600000s 0s;
	}

	&[data-autocompleted] {
		background-color: transparent !important;
	}
}

@mixin base {
	color: rgb(255 255 255 / 100%);
	outline: none;
	font-weight: 500;
	font-style: normal;
	font-size: #{utility.rem(24)};
	line-height: 135%; /* 32.4px */
	letter-spacing: #{utility.rem(-0.96)};
	transition:
		background-color var(--transition-animation),
		color var(--transition-animation),
		border var(--transition-animation);
	appearance: none;

	&::placeholder {
		@include placeholder;
	}
}

@mixin placeholder {
	color: rgb(255 255 255 / 42%);
	font: inherit;
}
