@use 'focus-visible';
@use 'breakpoints';
@import 'reset';
@import 'variables';

html,
body {
	height: max(100%, 100vh);
	min-height: 100%;

	@include breakpoints.media-down('xl') {
		font-size: clamp(16px, min(5vw, 3vh), 40px) !important;
	}
}

html {
	overflow-x: revert;
}

body {
	overflow-x: hidden;
	background-color: #eaecf0;
	background-image: url('/images/background-main.png');
	background-size: 1920px 704px;
	background-repeat: no-repeat;

	// padding: 0 var(--ears);
	font-family: Inter, sans-serif;
	text-size-adjust: 100%;

	@include breakpoints.media-down('xl') {
		background-size: cover;
	}
}

a {
	color: currentcolor;
}

:focus-visible,
:focus {
	@include focus-visible.setup;
}

/* Remove the focus outline */
:focus:not(:focus-visible) {
	outline: none;
}
