@use 'utility';
@use 'breakpoints';

:root {
	// Цвета
	--brand: #29a13e;

	// padding
	--padding-xxs: #{utility.rem(4)};
	--padding-xs: #{utility.rem(6)};
	--padding-sm: #{utility.rem(8)};
	--padding-md: #{utility.rem(16)};
	--padding-lg: #{utility.rem(24)};

	// Текст
	--text-primary: #000;

	// Контейнер
	--container: #{utility.rem(1170)};
	--ears: var(--padding-md);
	--focus-visible: yellow;

	@each $name, $breakpoint in breakpoints.$list {
		// @include breakpoints.media-up($name) {
		// 	--container: calc(#{$breakpoint} - var(--ears) * 2);
		// }
	}

	@include utility.has-p3 {
		// empty
	}

	--masonry-grid-gap: #{utility.rem(16)};
}
